<%= stylesheet_link_tag "about", :media => "all" %>
<div id="loading">
  <div class="spinner">
    <p class="loading-txt">Loading...</p>
  </div>
</div>
<div class="about">
 <div class="container">
  <div class="row pt-5">
    <div class="mx-auto my-5 mainvisual-text">
      <div class="about-comment text-center">
        <% unless current_user.freeze %>
          <h1><strong><span style="color:yellow;"><i>Carsとは？</i></span></strong></h1>
          <p></p></br>
          <p></p>
          <h4>Carsではカスタムパーツやインテリア用品などのレビューを投稿できます！</h4>
          <p></p>
          <h4>新しいカーアイテムと出会おう。</h4>
          <p></p>
          <h4>みんなのレビュー投稿にいいねやコメントを送って車好きの輪を広げよう。</h4>
          <p></p></br>
          <p></p>
        <% else %>
          <h1>本アカウントは凍結中です。</h1>
        <% end %>
      </div>
      <% unless user_signed_in? %>
        <div class="guest-btn text-center">
          <%= link_to ">>　ゲストログインしてレビュー投稿をチェックしよう　<<", users_guest_sign_in_path, class: "btn btn-primary", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
 </div>
</div>
