<div class="container">
 <div class="row pt-5">
  <div class="btn-wrapper col-10 mx-auto">
   <table class="table">
    <tr>
     <td><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %></td>
    </tr>
   </table>
  </div>
 </div>
</div>
