<%= stylesheet_link_tag "top", :media => "all" %>
<div class="top">
 <div class="container">
  <div class="row pt-5">
    <div class="mx-auto my-5 mainvisual-text">
      <div class="top-comment text-center">
        <% unless current_user.freeze %>
          <h1><strong><i class="fa-sharp fa-solid fa-car-on">ようこそCarsへ！</i></strong></h1>
          <p></p></br>
          <p></p>
          <h2>Carsで愛車のカスタムパーツ・インテリア用品を自慢しよう。</h2>
          <p></p>
          <h4>みんなのレビューを見ることであなたの知らないパーツに出会えるかもしれない。</h4>
          <p></p></br>
          <p></p>
        <% else %>
          <h1>本アカウントは凍結中です。</h1>
        <% end %>
      </div>
      <% unless user_signed_in? %>
        <div class="guest-btn text-center">
          <%= link_to ">>　ゲストログインしてレビュー投稿をチェックしよう　<<", users_guest_sign_in_path, class: "btn btn-info", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
 </div>
</div>
