.about {
  background-image: url("top_about");
  width: 100%;
  height: 850px;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.about-comment {
  text-shadow:  2px 2px 5px red,
              -2px 2px 5px red,
               2px -2px 5px red,
              -2px -2px 5px red;
}