h2, h3 {
    text-shadow: 2px 1px 2px #808080;
}

.btn-success {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-success:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-info {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-info:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-danger {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-danger:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-outline-secondary {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-outline-secondary:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-primary {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-primary:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.card {
  animation-name: fadeInAnime;
  animation-fill-mode:backwards;
  animation-duration:1.5s;
  animation-iteration-count:1;
  animation-timing-function:ease-out;
  animation-delay: 0.5s;
  animation-direction:normal;
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}