<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <%#= link_to image_tag, root_path, class: "btn-btn-info pull-left ml-2" style ="width:250px;height:300px" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <span style="color:yellow;">お疲れ様です！</span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "ユーザー管理", admin_users_path, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" %>
        </li>
        <li class="nav-item">
          <%= link_to "レビュー管理", admin_cars_path, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" %>
        </li>
      </ul>
    </div>
</nav>